{% extends 'base.html' %}

{% block content %}

    {% if error %}
        {{ error }}
        <br /> <br />
    {% endif %}

   <h1> Login </h1>

    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}

    Username: <br />
    <input type="text" name="username" /> <br />
    Password: <br />
    <input type="password" name="password" /> <br /> <br />

    <input type="submit" name="login" value="Login" class="btn btn-primary" />
    </form>

    <p>If you don't have any account please <a href="{% url 'signup' %}">Sign up</a></p>
{% endblock %}