{% extends 'base.html' %}

{% block content %}
    {% for product in products.all %}
        <div class="row pt-3">
        <div class="col-2" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
            <img src="{{ product.icon.url }}" class="img-fluid" />
        </div>
        <div class="col-6" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
            <h1>{{ product.title }}</h1>
            <p>{{ product.summary }}</p>
        </div>
        <div class="col-4">
            {% if product.id in votes %}
                <button disabled class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{ product.votes_total }}</button>
                <h3>You already upvoted this product</h3>
            {% else %}
                <button class="btn btn-primary btn-lg btn-block" onclick="document.getElementById('upvote{{ product.id }}').submit()"><span class="oi oi-caret-top"></span> Upvote {{ product.votes_total }}</button>
            {% endif %}
        </div>
        </div>
        <form method="post" action="{% url 'upvote' product.id %}" id="upvote{{ product.id }}">
        {% csrf_token %}
        <input type="hidden" />
        </form>
    {% endfor %}
{% endblock %}